

.register-auth-form {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px !important;
  margin-right: 0 !important;
}

/* Custom class for form-group spacing */
.register-form-group {
  border-radius: 5px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.form-control-register {
  --tw-border-opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  border-radius: 0.375rem;
  border-width: 1px;
  display: block;
  padding: 0.5rem 0.75rem;
  width: 100%;  /* Full width inside the parent */
}

/* Renamed for text color and alignment */
.register-mb-3 {
  color: #5e4aa1;
  text-align: center;
}

/* Renamed class for registration text */
.register-title-text {
  color: #5e4aa1;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Error message styling */
.register-error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 5%;
}

.logo-register {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

/* Image responsiveness for smaller screens */
@media (max-width: 768px) {
  .register-img-fluid {
    max-width: 70%;
    height: auto;
  }
}

/* Form padding for smaller screens */
@media (max-width: 576px) {
  .register-auth-form {
    padding: 15px !important;
  }
}
