.landing-page {
    margin-top: 20px;
  }
  
.post-list {
    margin-top: 10px;
}
  
.forum-post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(242, 232, 232);
}
  
.post-actions {
    display: flex;
    justify-content: flex-end;
}

.load-button-format {
    width: 75px;
    height: 51px;
    padding: 0;
    margin: 0; 
  }