.bg-body-tertiary {
  background-image: linear-gradient(
    45deg,
    #1e5799 0%,
    #fc1414 0%,
    #343a40 55%,
    #343a40 85%
  );
}

.navbar-brand,
.nav-link {
  color: white;
}

/* .nav-border {
  border-bottom: 1px solid #767676;
  background-color: rgba(255, 255, 255, 0.938);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
