.bg-body-tertiary {
  background-image: linear-gradient(
    45deg,
    #1e5799 0%,
    #fc1414 0%,
    #343a40 55%,
    #343a40 85%
  );
}

.navbar-brand,
.nav-link {
  color: white;
}

.logout-icon {
  max-width: 27px;
  padding-right: 4px;
  padding-left: 4px;
}

.profile-icon {
  max-width: 27px;
  padding-right: 4px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
