.PC-container-fluid {
  min-height: 100vh;
  background-color: #343a40;
  
}

.title-container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 70%;
  margin-left: 10%;
}

.postTitle-container-fluid,
.text-container-fluid {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 70%;
  margin-left: 10%;
}

.PC-header {
  color: #e4e4e4;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

.title-input {
  width: 100%;
}

.textrow-row {
  height: 100%;
}

.ReactQuill {
  height: 300px;
  width: 100%; 
  margin-top: 40px; 
  border-color: rgb(255, 255, 255);
} 

/* Add this to your PostCreationPage.css */
.ReactQuill .ql-container {
  background-color: white; /* Set the background color to white */
  height: 300px;
}

.ReactQuill {
  min-height: 400px; /* Adjust height as needed */
  background-color: white; /* Ensure background is set */
}

.ql-toolbar {
  background-color: #f3f3f3; /* Toolbar color */
  z-index: 1; /* Ensure it appears above content */
}


.text-error-message {
  color: red;
  margin-top: 1%;
  margin-left: 45%

}
.success-message {
  color: rgb(144, 149, 198);
  margin-top: 1%;
  margin-left: 45%;
}

.btn.btn-primary { 

  margin-top: 1%;
  margin-left: 45%;
  
  
}

